PYTHONDONTWRITEBYTECODE=any # ignores creating__pycache__folders
SUPABASE_URL=https://xxxxx.supabase.co # url
SUPABASE_KEY=<key> # anon key in supabase
SUPABASE_SERVICE_ROLE_KEY=<key> # for admin access to all users etc